.table-responsive.rounded-3.overflow-hidden.border
  %table.table.table-sm.table-hover.align-middle.small.mb-0
    %thead.thead-secondary
      %tr
        - @columns.each do |col|
          %th
            - if col.sort_attr && @ransack_query
              = helpers.sort_link(@ransack_query, col.sort_attr, col.header, page: nil)
            - else
              = col.header
    %tbody{id: @tbody_id, data: @tbody_data}
      - @rows.each do |row|
        %tr{data: { id: row.id }.merge(@row_data&.call(row) || {})}
          - @columns.each do |col|
            - if col.typed
              = render(TableCellComponent.new(value: col.block.call(row), html_class: col.html_class))
            - else
              %td{class: col.html_class}= col.block.call(row)
